@import '../../index.scss';


.Links-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// LINK AND TOOLTIP STYLE
.Data-links{
    font-size: 1rem;
    font-weight: 500;
    font-family: $Main-font;
    height: 76px;
    width: 59rem;
    background-color: $link-bg--color;
    letter-spacing: 0.2px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    position: relative;
    color: $text-color;

    &:hover{
       box-shadow: 3px 2px 3px 2px $color--grey-2;
    }
    & .tooltip{
        visibility: hidden;
        width: 20rem;
        height: max-content;
        background-color: $color--grey-2;
        color: #fff;
        border-radius:0 10px;
        padding: 10px;
        position: absolute;
         left: 5rem;
        z-index: 1;
        transition: translate .8s;
       

        &--heading{
            font-size: 12px;
            font-family: 300;
            margin-bottom: 10px;
        }

        &--Body{
            font-size: 13px;
            font-family: 300;
            margin-bottom: 10px;
        }
    }

    &:hover .tooltip{
        visibility: visible;
        translate: 440px 30px; // 1st value is the mov frm left to right , 2nd value is the mov frm top to Bottom
        z-index: 1;
    }
}
// THIS THE END OF THE TOOLTIP STYLING AND THE BEGINNING OF THE MEDIA QUERY 

//MEDIA QUERY
@media (max-width:56.25em){
    .Data-links{
        width: 38rem;
        &:hover .tooltip{
            translate: 190px 25px; 
        }
    }     
}
@media (max-width:37.5em){
    .Data-links{
     width: 20rem;

     & .tooltip{
        width: 15rem;
    }
     &:hover .tooltip{
        translate: 0px 70px; 
    }
    }
   
}
