@import '../index.scss';


.button-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    font-size: 1rem;
    font-weight: 500;
    font-family: $Main-font;
    height: 76px;
    width: 57.6rem;
    background-color: $link-bg--color;
    color: #fff;
    border: none;
    // padding: 24px 32px;
    letter-spacing: 0.2px;
    border-radius: 8px;
    color: $text-color;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

    // &:not(:last-child){
    //     margin-bottom: 24px;
    // }

  
}